
.flight-list-container{
    @media screen and (min-width: 769px){
        &{
            width: 780px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
        }

    }
}