<div class="control is-horizontal" ng-if="$ctrl.airportsData">
  <div class="control-label airport-label">
    <label class="label ">
      From: 
      <!--<span ng-if="$ctrl.fromAirport.iataCode">{{$ctrl.fromAirport.name}} {{'('+ $ctrl.fromAirport.iataCode +')' }}</span>-->
    <span ng-if="$ctrl.fromAirport.iataCode" class="tag is-info is-small">
      {{$ctrl.fromAirport.iataCode}}
      <button ng-click="$ctrl.removeFromAirport()" class="delete is-small"></button>
    </span>
    </label>
  </div>

  <div class="control">
    <airport-selector ng-if="$ctrl.airportsData" airports-data ="$ctrl.airportsData" airport="$ctrl.fromAirport" on-update="$ctrl.setAirportFrom($event)"> 
    </airport-selector>
  </div>

  <div class="control-label airport-label">
    <label class="label ">
      To:
      <!--
      
      <span ng-if="$ctrl.toAirport.iataCode">{{$ctrl.toAirport.name}}{{'('+ $ctrl.toAirport.iataCode +')' }}</span>
      -->
      <span ng-if="$ctrl.toAirport.iataCode" class="tag is-info is-small">
      {{$ctrl.toAirport.iataCode}}
      <button ng-click="$ctrl.removeToAirport()" class="delete is-small"></button>
    </span>
    </label>
    
  </div>
  <div class="control">
    <airport-selector ng-if="$ctrl.airportsData" airports-data ="$ctrl.airportsData" airport="$ctrl.toAirport" on-update="$ctrl.setAirportTo($event)">
    </airport-selector>
  </div>
</div>
