<div class="search-container">
    <form name="search-flights-form">
        <date-wrapper start-date="$ctrl.startDate" end-date="$ctrl.endDate" on-update="$ctrl.updateDates($event)">
        </date-wrapper>
        <airport-wrapper default-values="$ctrl.defaultValues" from-airport="$ctrl.fromAirport" to-airport="$ctrl.toAirport" on-update="$ctrl.updateAirports($event)">
        </airport-wrapper>
        <div ng-if="$ctrl.errorParams" class="notification is-danger">
            Error: all fields are required
        </div>
        <div class="control">
        <div class="columns is-mobile">
            <div class="column is-6 is-offset-6 align-right">
                <a class="button is-primary medium btn-big btn-submit" ng-click="$ctrl.searchFlights()">Search</a>
            </div>
        </div>
        </div>
        
    </form>
    </div>